:root {
  --light-color: hsl(0, 100%, 50%);
}

#NormalMapBG {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.bodyOverlay {
    /* left: 20px;
    top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 0px;
    width: 100%;
    font-family: "Red Hot Display", sans-serif;
  }
  
  .article-header {
    /* background-color: black; */
    /* color: white; */
    font-family: "Red Hat Display", sans-serif;
    background-color: black;
    color: white;
  }


  h1 {
    /* background-color: white; */
    /* border-bottom: 10px solid black; */
    /* border-radius: 30px; */
    /* margin-top: 5px; */
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 5em;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
    /* background-color: white; */
  }

  .example-header {
    background-color: black;
    color: white;
  }

  h2 {
    font-size: 5em;
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 3em;
  }

  .article-title {
    font-size: 10em;
  }

  .article-body {
    margin: 2em;
  }

  .article-button {
    font-size: 5em;
    margin: 2em;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
  }

  p {
    font-family: "Red Hat Display", sans-serif;
  }

section {
  width: 70%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 6em;
}

button {
  border: 3px solid black;
  background-color: white;
  padding: 16px 32px;
  cursor: pointer;  
}

button:hover {
  background-color: black;
  color: white;
}

.side-by-side {
  display: flex;
  justify-content: space-around;
}

.example-main {
  margin: 2em;
  /* padding: 2em; */
}

.demo-section {
  display: flex;
  justify-content: center;
  background-color: black;
}

.fixedBG {
  position: fixed;
  left: 0;
  top: 0;
}

.slider-section {
  /* width: 70%; */
  /* padding: 2em; */
  background-color: white;
  outline: 3px solid black;
  
  
}

.slider-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  width: 93%;
  -webkit-appearance: none;
  height: 25px;
  padding: 0.3em;
  outline: 3px solid black;
  margin-bottom: 1em;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: black;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: black;
}

.back-button {
  display: flex;
  justify-content: center;
  padding: 8em;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.color-picker {
  width: 800px;
  height: 300px;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%), linear-gradient(to right, white, var(--light-color));

  margin: 1em;
}

#point {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: green;
  cursor: move;
}

.hue-slider {
  writing-mode: vertical-lr;
  -webkit-appearance: none;
  width: 25px;
  /* height: 500px; */
  background: linear-gradient(180deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
}

.hue-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--light-color);
  /* background: linear-gradient(180deg, var(--light-color), white); */
  border: 5px solid black;
}

.hue-slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--light-color);
  /* background: linear-gradient(180deg, var(--light-color), white); */
  border: 5px solid black;
}

.picker-and-slider {
  display: flex;
}